#logo-acs {
  width: 120px;
}
.card-img-top {
  width: 275px;  height: 280px;
}
.card-img-height {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.card-text {
  width: auto;
  height: 240px;
  overflow: hidden;
}
